.App {
  text-align: center;
}

.NavSearch {
  display: block;
  background-color: #282c34;
  min-height: 19vh;
}

.section {
  padding-top: 5rem
}

.showButton {
  text-align: center;
  margin-bottom: 2rem
}

.NavSearch p {
  color: #ffffff
}

.NavSearch .colummns {
  padding-top: 1rem
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

.card {
  display:flex;
  flex-direction: column;
  background-color: rgba(202, 196, 196, 0.247)
}
.cart-footer {
  margin-top: auto;
}

.card-header {
  background-color: rgba(29, 185, 84, 0.986);
}

.card-header .card-header-title {
  color: #282c34;
}

.total-tracks {
  color: rgba(29, 185, 84, 0.986)
}

.title {
  color : rgba(29, 185, 84, 0.986)
}

.search-box {
  margin-left: 10%;
  margin-right: 10%;
}